.wrapper p{
    color: white;
    font-size: 18px;
}

.wrapper .heading {
    font-weight: bolder; 
}

.wrapper {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}