.favouritebtn{
    color: #F5CA37;
    padding: 10px;
    border: 3px solid #F5CA37;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.2s;
    margin-right: 10px;
    }
    .favouritebtn:hover{
    background-color: #F5CA37;
    color: #161924;
    }